.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
.eslintrc.js
.prettierrc.json
.prettierrc.js
*.vsix
**/*.map
**/*.ts
!out/**/*.js
!dist/**/*.js
!dist/**/*.css
tsconfig.json
node_modules
esbuild.js
tailwind.config.js
postcss.config.js
*.backup
*.md
!README.md

